.editor {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.5em;
}

.editor-title {
	margin-bottom: 1em;
}

textarea {
	height: 100%;
	width: 100%;
	padding: 0.5em;
	resize: none;
	border: 1px solid black;
	border-radius: 4px;
}

#output {
	height: 100%;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 1.5em;
	border: 1px solid black;
	border-radius: 4px;
}

#output code {
	background-color: #212121;
	color: #fafafa;
	padding: 0.2em 0.3em;
	border-radius: 4px;
}

#output pre {
	background-color: #212121;
	color: #fafafa;
	padding: 0.5em;
	border-radius: 4px;
}
