/*
	Theme: Github
	Author: Defman21
	License: ~ MIT (or more permissive) [via base16-schemes-source]
	Maintainer: @highlightjs/core-team
	Version: 2021.05.0
*/

/*
	Modified from original
	Original: https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/styles/base16/github.min.css
*/

pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}

code.hljs {
	padding: 3px 5px;
}

.hljs {
	color: #333;
	background: #fff;
}

.hljs ::selection {
	color: #c8c8fa;
}

.hljs-comment {
	color: #6a737d;
}

.hljs-tag {
	color: #005cc5;
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
	color: #333;
}

.hljs-operator {
	opacity: 0.7;
}

.hljs-bullet,
.hljs-deletion,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
	color: #ed6a43;
}

.hljs-name {
	color: #22863a;
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
	color: #0086b3;
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
	color: #795da3;
}

.hljs-strong {
	font-weight: 700;
	color: #795da3;
}

.hljs-addition,
.hljs-code,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp,
.hljs-string,
.hljs-title.class_.inherited__ {
	color: #032f62;
}

.hljs-built_in {
	color: #005cc5;
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
	color: #6f42c1;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
	color: #d73a49;
}

.hljs-emphasis {
	color: #a71d5d;
	font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
	color: #333;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
	font-weight: 700;
}

/* ============================================= DARK MODE ==================================================== */

#output.dark .hljs-comment {
	color: #969896;
}
#output.dark .hljs-tag {
	color: #e8e8e8;
}

#output.dark .hljs-name {
	color: #ed6a43;
}

#output.dark .hljs-addition,
#output.dark .hljs-built_in,
#output.dark .hljs-code,
#output.dark .hljs-doctag,
#output.dark .hljs-keyword.hljs-atrule,
#output.dark .hljs-quote,
#output.dark .hljs-regexp,
#output.dark .hljs-string,
#output.dark .hljs-title.class_.inherited__ {
	color: #a5d6ff;
}
#output.dark .hljs-attribute,
#output.dark .hljs-function .hljs-title,
#output.dark .hljs-section,
#output.dark .hljs-title.function_,
#output.dark .ruby .hljs-property {
	color: #d2a8ff;
}
#output.dark .diff .hljs-meta,
#output.dark .hljs-keyword,
#output.dark .hljs-template-tag,
#output.dark .hljs-type {
	color: #ff7b72;
}
