.input-area {
	position: relative;
}

.input-area-title {
	margin-bottom: 1em;
}

#input {
	height: 100%;
	width: 100%;
	padding: 1em 1.5em;
	resize: none;
	border: 1px solid black;
	border-radius: 6px;
}

.action-btn {
	position: absolute;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}

.action-btn img {
	display: grid;
	place-content: center;
}

#copy-btn {
	top: 5em;
	right: 1em;
}

#clear-btn {
	top: 5em;
	right: 4em;
}

@media screen and (max-width: 800px) {
	.input-area {
		margin: 0 2em;
	}

	#input {
		resize: vertical;
		min-height: 70vh;
	}

	#copy-btn {
		right: 2em;
	}

	#clear-btn {
		right: 5.5em;
	}
}

@media screen and (max-width: 430px) {
	#copy-btn {
		right: 1.5em;
	}

	#clear-btn {
		right: 4em;
	}
}

@media screen and (max-width: 360px) {
	#copy-btn {
		right: 1.2em;
	}

	#clear-btn {
		right: 3.7em;
	}
}
