.input-area {
	margin: 0 1em 0 2em;
}

.input-area-title {
	margin: 0 0.2em 1.5em 0.2em;
}

#input {
	height: 100%;
	width: 100%;
	padding: 1em 1.5em;
	resize: none;
	border: 2px solid black;
	border-radius: 6px;
}

#copy-btn {
	top: 2.9em;
	right: 1em;
}

#clear-btn {
	top: 2.9em;
	right: 4em;
}

#input::-webkit-scrollbar {
	background-color: #f1f1f1;
	width: 0.8em;
}

#input::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

#input::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 6px;
}

#input::-webkit-scrollbar-corner {
	background-color: #e0e0e0;
	border-radius: 1.5px;
}

@media screen and (max-width: 1024px) {
	.input-area {
		margin: 0 0.5em 0 1em;
	}
}

@media screen and (max-width: 800px) {
	.input-area {
		width: 90%;
		margin: auto;
	}

	#input {
		resize: vertical;
		min-height: 70vh;
	}
}
